<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="auto_tint_id" value="10022001AT01"/>
		<add key="csv_history_path" value="E:\\Tutorial\\csv_history" />
		<add key="csv_history_achive_path" value="E:\\Tutorial\\csv_history_achive_path" />
		<add key="json_dispense_log_path" value="E:\\Tutorial\\json_dispense_log" />
		<add key="programdata_log_path" value="C:\\ProgramData\\TOA_Autotint\\Logs" />
		<add key="database_path" value="E:\\Tutorial\\db_path" />
		<add key ="Mode" value ="Daily"/>
		<!-- <add key ="Mode" value ="Interval"/>-->
		<add key ="IntervalMinutes" value ="1"/>
		<add key ="ScheduledTime" value ="07:30"/>
	</appSettings>
</configuration>