<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<targets async="true">
		<default-target-parameters xsi:type="File" keepFileOpen="false"/>
		<target name="serviceLogfile" fileName="service_log_${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target name="clientLogfile" fileName="desktopClient_log_${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<target>
		<target name="logconsole" xsi:type="Console" />
	</target>
	
	<rules>
		<logger name="*" minlevel="Info" writeTo="serviceLogfile" />
		<logger name="*" minlevel="Debug" writeTo="serviceLogfile" />
		<logger name="*" minlevel="Warn" writeTo="logconsole" />
	</rules>
</nlog>