<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="auto_tint_id" value="10022001AT01"/>
		<add key="csv_history_path" value="E:\\Tutorial\\csv_history" />
		<add key="csv_history_achive_path" value="E:\\Tutorial\\csv_history_achive_path" />
		<add key="json_dispense_log_path" value="E:\\Tutorial\\json_dispense_log" />
		<add key="database_path" value="2" />
	</appSettings>
</configuration>